.breadcrumb {
    border-bottom: 1px solid #d0d0d0;
    padding: .1em 0em 10px;
    font-size: .875em;
    margin: 2em auto 0px;
    ul {
        @include li-reset;
        li {
            display: inline-block;
            margin: 0px .1em .1em 0px;
            color:#666;
            &:before {
                @extend %slash;
            }
            &:first-child:before {
                content: "";
                display: inline-block;
                color: #666;
                margin-left: 0;
                padding: 0;
            }
            img{
                vertical-align: middle;
            }
        }
    }
    a {
        @include aSetting_nocolor;
        color:#333;
    }
}