.marquee {
    height: 5em;
    display: block;
    overflow: hidden;
    background: #FFF;
    margin: 2em 4em;
    text-align: left;
    padding: 0 3em 0 2em;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #dadada;
    @media(max-width: 991px) {
        margin: 1.5em 0em;
    }
    @media(max-width: 480px) {
        height: 6.5em;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none
    }
    .slick-prev {
        width: 10px;
        height: 10px;
        transform: rotate(90deg);
        right: 0px !important;
        top: 1px !important;
        left: auto;
        opacity: .5;
        background: url('../vendor/slick/icon_arrow_up_s.png') no-repeat center center;
        background-size: 16px;
        width: 20px !important;
        height: 20px !important;
        box-shadow: none;
        &:hover,
        &:focus {
            opacity: 1
        }
        &:before {
            width: 10px !important;
            height: 10px !important
        }
    }
    .slick-next {
        width: 10px;
        height: 10px;
        transform: rotate(-90deg);
        right: 0px !important;
        bottom: -6px !important;
        top: auto;
        left: auto;
        opacity: .5;
        width: 20px !important;
        height: 20px !important;
        background: url('../vendor/slick/icon_arrow_up_s.png') no-repeat center center;
        background-size: 16px;
        box-shadow: none;
        &:hover,
        &:focus {
            opacity: 1
        }
        &:before {
            width: 10px !important;
            height: 10px !important
        }
    }
    >div {
        padding: 0;
        margin: 0
    }
    ul {
        margin:0;
        padding:0;
        list-style-type: none;
        li {
            a {
                display: block;
                line-height: 1.6em;
                margin-right: 3em;
                font-weight: bold;
                padding-left: 7.5em;
                @include text-line(3, 23px);
                color: #000;
                text-decoration: none;
                outline: 1px solid red;
                box-sizing:border-box;
                @media(max-width: 480px) {
                    padding-left: 0;
                    @include text-line(4, 23px);
                }
                span {
                    color: #7cb52f;
                    margin-right: 0;
                    margin-left: -7em;
                    padding-right: 0.9em;
                    @media(max-width: 480px) {
                        margin-right: 0;
                        margin-left: 0;
                        display: block;
                    }
                }
                &:hover {
                    color: #7cb52f;
                }
            }
        }
    }
    //
    .slick-slide {
        min-height: auto !important;
        float: none;
        white-space: normal;
    }
}