html{font-size:100%;line-height:1em}.vertical_rhythm{background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjYmJiYmJiIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size:100%;background-image:-webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(187,187,187,0.4)),color-stop(5%, rgba(187,187,187,0)));background-image:-moz-linear-gradient(bottom, rgba(187,187,187,0.4) 5%,rgba(187,187,187,0) 5%);background-image:-webkit-linear-gradient(bottom, rgba(187,187,187,0.4) 5%,rgba(187,187,187,0) 5%);background-image:linear-gradient(to top, rgba(187,187,187,0.4) 5%,rgba(187,187,187,0) 5%);-moz-background-size:100% 2em;-o-background-size:100% 2em;-webkit-background-size:100% 2em;background-size:100% 2em;background-position:left top}.vertical_rhythm img{float:left;margin:0 16px 0 0}.cp{font-size:1em;line-height:2em}.cp h1{font-size:2em;line-height:1.5em;padding-top:0em;margin-bottom:.5em}.cp h2{font-size:1.5em;line-height:1.33333em;padding-top:0em;margin-bottom:0em}.cp h3{font-size:1.25em;line-height:1.6em;padding-top:0em;margin-bottom:0em}.cp h4{font-size:1.25em;line-height:1.6em;padding-top:0em;margin-bottom:0em}.cp h5{font-size:1.25em;line-height:1.6em;margin-top:0em;margin-bottom:0em}.cp h6{font-size:1em;line-height:2em;margin-top:0em;margin-bottom:0em}.cp p{font-size:1em;line-height:2em;margin-top:0em;margin-bottom:2em}.cp ul,.cp ol{font-size:1em;line-height:2em;margin-top:0em;margin-bottom:2em}.cp dd,.cp th,.cp td figure{font-size:1em;line-height:2em}.cp blockquote{background:#f2f2f2;font-style:normal;display:block;font-size:1em;line-height:2em;border-left:5px solid #0094e0;padding:32px;box-sizing:border-box;margin-left:.5em;margin-right:.5em;margin-top:0em;margin-bottom:2em}.cp img{max-width:100%}@media screen and (max-width: 767px){.cp img{max-width:100%;width:auto;clear:both}}
// @import "compass";
// @import "../_variable.scss";            
// $base-font-size: 16px;
// $base-line-height: 16px;
// $rhythm-unit: 'em';
// $base-font-stack: $font-family;
// @include establish-baseline();
// $grid-background-baseline-height: 2em;
// $show-baseline-grid-backgrounds: true;
// $grid-background-baseline-color: rgba(187, 187, 187, 0.4);
// .vertical_rhythm {
//     @include baseline-grid-background;
//     img {
//         float: left;
//         margin: 0 $base-font-size 0 0;
//     }
// }
// // +leader() = 設定margin-top
// // +padding-leader() = 設定padding-top
// // +trailer() = 設定margin-b  ssottom
// // +padding-trailer() = 設定padding-bottom
// .cp {
//     @include adjust-font-size-to($base-font-size*1, 2); //預設cp的文字設定(有可能上搞資料未包標籤)
//     h1 {
//         @include adjust-font-size-to($base-font-size*2, 3);
//         @include padding-leader(0);
//         @include trailer(.5);
//     }
//     h2 {
//         @include adjust-font-size-to($base-font-size*1.5, 2);
//         @include padding-leader(0);
//         @include trailer(0);
//     }
//     h3 {
//         @include adjust-font-size-to($base-font-size*1.25, 2);
//         @include padding-leader(0);
//         @include trailer(0);
//     }
//     h4 {
//         @include adjust-font-size-to($base-font-size*1.25, 2);
//         @include padding-leader(0);
//         @include trailer(0);
//     }
//     h5 {
//         @include adjust-font-size-to($base-font-size*1.25, 2);
//         @include leader(0);
//         @include trailer(0);
//     }
//     h6 {
//         @include adjust-font-size-to($base-font-size*1, 2);
//         @include leader(0);
//         @include trailer(0);
//     }
//     p {
//         @include adjust-font-size-to($base-font-size*1, 2);
//         @include leader(0);
//         @include trailer(2);
//     }
//     ul,
//     ol {
//         @include adjust-font-size-to($base-font-size*1, 2);
//         @include leader(0);
//         @include trailer(2);
//     }
//     dd,
//     th,
//     td figure {
//         @include adjust-font-size-to($base-font-size);
//     }
//     blockquote {
//         background: #f2f2f2;
//         font-style: normal;
//         display: block;
//         @include adjust-font-size-to($base-font-size);
//         border-left: 5px solid $primaryColor;
//         padding: $base-font-size*2;
//         box-sizing: border-box;
//         margin-left: .5em;
//         margin-right: .5em;
//         @include leader(0);
//         @include trailer(2);
//     }
//     img {
//         max-width: 100%;
//         @media screen and (max-width: 767px){
//             max-width: 100%;
//             width: auto;
//             clear: both;
//         }
//     }
// }