@charset "utf-8";
// 文章標題
h1.title, h2.title {
    line-height: 1.25em;
    margin: .4em 0;
}
h3.title {
    margin: 1em 0 0;
    font-size: 1.75em;
    color: $primaryColor;
    line-height: 1.3em;
}
.cp {
    .pic {
        margin: 0px auto 1em;
        width: auto;
        width: 70%;
        background: #333;
        overflow: hidden;
        padding: 0;
        img {
            float: none;
            width: 100%;
            margin: 0;
            display: block;
        }
        span {
            text-align: center;
            display: block;
            font-size: .938em;
            padding: 8px 10px;
            color: #fff;
            height: 50px;
        }
        @include screen('mobile') {
            float: none;
            max-width: 100%;
            width: auto;
            margin: 0px auto;
            display: block;
            margin-bottom: .5em;
        }
    }
    &.small_size {
        font-size: .938em;
    }
    &.large_size {
        font-size: 1.125em;
    }
    table {
        background: #FFF;
    }
    img {
        &.float_left {
            float: left;
            margin: 0px 1em 1em 0;
            width: auto;
            max-width: 55%;
            @include screen('mobile') {
                float: none;
                max-width: 100%;
                margin: 0px auto;
            }
        }
        &.float_right {
            float: right;
            margin: 0px 0 1em 1em;
            width: auto;
            max-width: 55%;
            @include screen('mobile') {
                float: none;
                max-width: 100%;
                margin: 0px auto;
            }
        }
    }
    a {
        @include aSetting;
    }
}
// 詳目連結
.details_link {
    margin: 0 auto 1em;
    text-align: center;
    display: block;
    padding: 5px 25px;
    background-color: #e5e5e5;
    border-radius: 5px;
    width: 70%;
    color: #000;
    @include screen('mobile') {
        width: 100%;
        a {
            display: inline-block;
        }
    }
}
// 文章標籤
div.tag {
    @extend %clearfix;
    padding: .5em 0 .5em 1.5em;
    margin-bottom: .5em;
    position: relative;
    &:before {
        display: block;
        position: absolute;
        top: .3em;
        left: .1em;
        content: "";
        width: 1em;
        height: 1em;
        top: .9em;
        background: url(../images/basic/icon_tag.png) no-repeat center center;
        background-size: 1em;
    }
    ul {
        display: inline-block;
        @include li-reset;
        li {
            display: inline-block;
            margin: 0 .2em .2em 0;
            a {
                display: block;
                font-size: .813em;
                @include aSetting_nocolor;
                border-radius: 4px;
                border: 1px solid #DDD;
                padding: .2em .5em;
                &:hover, &:focus {
                    border: 1px solid $aHover;
                }
            }
        }
    }
}
// 檔案下載
.file_download {
    width: 100%;
    margin: 0 auto;
    @include clearfix();
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 0.2em;
        border-bottom: 1px solid $primaryColor;
    }
    ul {
        counter-reset: counter;
        list-style-type: none;
        padding: 0;
        margin-left: 1em;
        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
    }
    li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 1em;
        border-bottom: 1px solid #EEE;
        clear: both;
        overflow: hidden;
        padding-bottom: .5em;
        span {
            @include screen('mobile') {
                display: block;
                margin-bottom: .2em;
            }
        }
        &:before {
            position: absolute; // outline: 1px solid red;
            top: .8em;
            left: .2em;
            text-align: right;
            width: 30px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #999;
            content: "";
            // counter-increment: counter;
            // content: counters(counter, ".") " . ";
            // display:none;
        }
        .update,
        .file_view {
            font-size: .813em;
            color: #AAA;
            width: 120px;
            padding-left: 35px;
            float: none;
            margin-top: 5px;
            @media screen and (max-width: 767px) {
                display: inline-block;
                float: none;
                width: auto;
                margin-top: 0;
            }
            @include screen('xs_mobile') {
                display: none;
            }
        }
        .update {
            width: 150px;
            @media screen and (max-width: 767px) {
                margin-left: 5px;
            }
        }
        a {
            // padding: .2em 0px .2em 65px;
            padding: 0px;
            position: relative;
            height: auto;
            line-height: 20px;
            display: inline-block;
            vertical-align: middle;
            margin: 0px .2em;
            min-width: 32px;
            text-align: center;
            text-indent: -9999px;
            height: 34px;
            @include text-overflow;
            @include box-sizing;
            margin-bottom: .1em;
            @include screen('mobile') {
                max-width: 2em;
                margin: 0px auto .5em 0px;
            }
            &:hover, &:focus {
                &:before {
                    content: "";
                    z-index: 99;
                    position: absolute;
                    border-radius: 4px;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    box-shadow: 0px 0px 0px 2px $aHover inset;
                }
            }
            .kb {
                font-size: .75em;
                color: #666;
                display: none;
                margin: 0px .5em;
            }
            &:after {
                content: "";
                background: url(../images/basic/icon_file.png) no-repeat center center;
                background-size: contain;
                width: 26px;
                height: 28px;
                position: absolute;
                top: 3px;
                left: 3px;
                text-align: right;
            }
            // word系列
            &[href$="doc"] {
                &:after {
                    background: url(../images/basic/icon_doc.png) no-repeat center center;
                    background-size: contain;
                }
            }
            &[href$="docx"] {
                &:after {
                    background: url(../images/basic/icon_docx.png) no-repeat center center;
                    background-size: contain;
                }
            }
            &[href$="odt"] {
                &:after {
                    background: url(../images/basic/icon_odt.png) no-repeat center center;
                    background-size: contain;
                }
            }
            // excel系列
            &[href$="xls"] {
                &:after {
                    background: url(../images/basic/icon_xls.png) no-repeat center center;
                    background-size: contain;
                }
            }
            &[href$="csv"] {
                &:after {
                    background: url(../images/basic/icon_csv.png) no-repeat center center;
                    background-size: contain;
                }
            }
            &[href$="ods"] {
                &:after {
                    background: url(../images/basic/icon_ods.png) no-repeat center center;
                    background-size: contain;
                }
            }
            &[href$="xlsx"] {
                &:after {
                    background: url(../images/basic/icon_xlsx.png) no-repeat center center;
                    background-size: contain;
                }
            }
            // pdf系列
            &[href$="pdf"] {
                &:after {
                    background: url(../images/basic/icon_pdf.png) no-repeat center center;
                    background-size: contain;
                }
            }
            &[href$="ppt"] {
                &:after {
                    background: url(../images/basic/icon_ppt.png) no-repeat center center;
                    background-size: contain;
                }
            }
            &[href$="pptx"] {
                &:after {
                    background: url(../images/basic/icon_pptx.png) no-repeat center center;
                    background-size: contain;
                }
            }
            &[href$="odp"] {
                &:after {
                    background: url(../images/basic/icon_odp.png) no-repeat center center;
                    background-size: contain;
                }
            }
            // 其他格式
            &[href$="zip"] {
                &:after {
                    background: url(../images/basic/icon_zip.png) no-repeat center center;
                    background-size: contain;
                }
            }
            &[href$="txt"] {
                &:after {
                    background: url(../images/basic/icon_txt.png) no-repeat center center;
                    background-size: contain;
                }
            }
            &[href$="mov"] {
                &:after {
                    background: url(../images/basic/icon_mov.png) no-repeat center center;
                    background-size: contain;
                }
            }
            &[href$="mp3"] {
                &:after {
                    background: url(../images/basic/icon_mp3.png) no-repeat center center;
                    background-size: contain;
                }
            }
            &[href$="jpg"] {
                &:after {
                    background: url(../images/basic/icon_jpg.png) no-repeat center center;
                    background-size: contain;
                }
            }
            &[href$="wmv"] {
                &:after {
                    background: url(../images/basic/icon_wmv.png) no-repeat center center;
                    background-size: contain;
                }
            }
            &[href$="mp4"] {
                &:after {
                    background: url(../images/basic/icon_mp4.png) no-repeat center center;
                    background-size: contain;
                }
            }
        }
    }
}
// 外部連結
.web_link {
    width: 100%;
    margin: 0 auto;
    @extend %clearfix;
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 0.2em;
        border-bottom: 1px solid $primaryColor;
    }
    ol,
    ul {
        counter-reset: counter;
        list-style-type: none;
        padding: 0;
        margin-left: 1em;
        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
    }
    li {
        position: relative;
        margin-bottom: 10px;
        border-bottom: 1px solid #EEE;
        a {
            padding: .2em 0px .2em 35px;
            position: relative;
            height: auto;
            line-height: 1.45em;
            display: block;
            @include aSetting_nocolor;
            &:before {
                position: absolute; // outline: 1px solid red;
                top: 5px;
                left: 0px;
                text-align: right;
                width: 30px;
                counter-increment: counter;
                content: counters(counter, ".") " . ";
            }
        }
    }
}
.publish_info {
    font-size: 0.875em;
    line-height: 1.5em;
    list-style: none;
    margin: 0 0 .7em 0;
    border-left: solid 5px $primaryColor;
    padding: 0.8em 1.5em 0.8em;
    background: #F2F2F2;
    @extend %clearfix;
    @include box-sizing;
    @include screen('mobile') {
        font-size: 0.938em;
    }
    li {
        width: 32%;
        margin-bottom: .5em;
        display: inline-block;
        vertical-align: top;
        @include screen('tablet') {
            width: 48%;
            margin-bottom: .2em;
            font-size: 0.875em;
        }
        @include screen('mobile') {
            width: 100%;
            display: block;
        }
    }
}
// 
// slick._scss
// cppic_slider
.cppic_slider {
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 1.2em;
        border-bottom: 1px solid $primaryColor;
    }
    .cppic {
        @include gutter(0px);
        margin-bottom: 20px;
        @include screen('mobile') {
            @include gutter();
        }
        .slick-prev {
            left: -15px;
            top: 50%;
        }
        .slick-next {
            right: -15px;
            top: 50%;
        }
        .img-container {
            margin: 0px 15px;
            background: #F1F1F1;
            @include aspect-ratio(4, 3);
            overflow: hidden;
            img {
                object-fit: contain;
            }
            a {
                color: #555;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                &:hover,
                &:focus {
                    .caption {
                        bottom: 0 !important;
                    }
                }
            }
            .caption {
                padding: .5em !important;
                position: absolute;
                background: rgba(0, 0, 0, .75) !important;
                color: #FFF;
                bottom: -2em !important;
                left: 0;
                font-size: .938em !important;
                height: 2em !important;
                line-height: 1 !important;
                width: 100%;
                @include text-overflow;
                transition: .3s ease-out;
            }
        }
    }
}
// 詳目頁
.book_detaildata {
    display: flex;
    // flex-wrap: wrap;
    padding: 40px 0 0;
    position: relative;
    margin-bottom: 30px;
    @include screen('xs_mobile') {
        display: block;
    }
    // 收藏
    .book_collect {
        position: absolute;
        top: 10px;
        right: 0px;
        z-index: 9;
        img {
            width: 24px;
        }
    }
    .book_detail {
        flex: 0 0 260px;
        .image {
            width: 230px;
            img {
                width: 230px;
            }
        }
        @include screen('mobile') {
            flex: 0 0 160px;
            .image {
                width: 130px;
                img {
                    width: 130px;
                }
            }
        }
        @include screen('xs_mobile') {
            width: 100%;
            .image {
                width: 130px;
                margin: 0 auto;
                img {
                    width: 130px;
                }
            }
        }
    }
    .bookdata {
        flex: auto;
        @include screen('xs_mobile') {
            width: 100%;
        }
        // 基本資料
        .basicdata {
            border-bottom: 1px dashed #ccc;
            overflow: hidden;
            padding-bottom: 10px;
            margin-bottom: 15px;
            .GPNEBN_num {
                float: left;
                font-size: 0.938em;
            }
            .project_num {
                float: right;
                font-size: 0.938em;
            }
            @include screen('mobile') {
                .GPNEBN_num, .project_num {
                    float: none;
                    font-size: 0.875em;
                }
            }
            h3 {
                display: block;
                float: none;
                clear: both;
                margin: 5px 0;
                font-size: 1.375em;
                a {
                    display: block;
                }
            }
            .language_btn {
                float: left;
                text-align: left;
                padding: 0;
                a {
                    color: #fff;
                }
            }
            .pricing {
                float: right;
                margin-top: 5px;
            }
        }
        // 基本項目 
        .basiclist {
            border-bottom: 1px dashed #ccc;
            overflow: hidden;
            padding-bottom: 10px;
            margin-bottom: 15px;
            ul {
                margin: 0;
                padding: 0;
                li {
                    width: 32%;
                    display: inline-block;
                    margin: 0 0 10px;
                    line-height: 1.6em;
                    list-style-type: none;
                    vertical-align: top;
                    @include screen('tablet') {
                        width: 48%;
                    }
                    @media(max-width: 380px) {
                        width: 100%;
                    }
                    span {
                        font-size: 0.938em;
                        display: block;
                        color: #999;
                    }
                }
            }
        }
        // 按鈕區
        .btn_block {
            input[type="button"] {
                background-color: $secondaryColor;
                border: 1px solid $secondaryColor;
                transition: .5s !important;
                &:hover {
                    border: 1px solid darken($secondaryColor, 5) !important;
                    background-color: darken($secondaryColor, 5);
                }
                &:last-of-type {
                    margin-right: 30px;
                }
            }
            .frequency_block {
                display: inline-block;
                span {
                    margin-right: 30px;
                    font-size: 0.938em;
                    color: #333;
                    position: relative;
                    display: inline-block;
                    &:before {
                        content: '';
                        width: 1px;
                        height: 15px;
                        background-color: #999;
                        position: absolute;
                        right: -15px;
                        top: 8px;
                    }
                    &:last-child {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.book_datablock {
    margin-bottom: 30px;
    h4 {
        font-size: 1.313em;
        margin: 0 0 20px;
        padding: 0;
    }
    // 館藏資訊
    .bibliography {
        display: block;
        line-height: 1.45em;
    }
    // 匯出
    //匯出
    .bookexport {
        padding: 0 30px;
        margin: 0 0 10px;
        div {
            // outline: 1px solid red;
            padding: 10px;
            a {
                text-align: center;
                display: block;
                width: 160px;
                height: 160px;
                border-radius: 50%;
                background-color: #fff;
                border: 1px solid #aeadad;
                margin: 0 auto;
                padding-top: 30px;
                color: #000;
                font-size: 1.063em;
                transition: .5s;
                @include box-sizing();
                img {
                    width: 55px;
                    margin: 0 auto 5px;
                }
                &:hover, &:focus {
                    background-color: #e5e5e5;
                    border: 1px solid #ccc;
                    color: #000;
                    transform: scale(1.1);
                }
            }
        }
        .slick-prev {
            background-image: url('../vendor/slick/icon_arrow_up.svg');
            background-size: 60px 30px;
            background-position: center;
            background-color: transparent;
            width: 60px !important;
            height: 40px !important;
            transform: rotate(-90deg);
            right: auto;
            left: -23px;
            top: 35%;
        }
        .slick-next {
            background-image: url('../vendor/slick/icon_arrow_down.svg');
            background-size: 60px 30px;
            background-position: center;
            background-color: transparent;
            width: 60px !important;
            height: 40px !important;
            right: -23px;
            transform: rotate(-90deg);
            top: 35%;
            z-index: 10;
        }
        // .slick-prev.slick-disabled:before,
        // .slick-next.slick-disabled:before {
        //     opacity: .25;
        // }
    }
}
// 書本瀏覽
.books_block {
    .books {
        padding-bottom: 45px;
        position: relative;
        >div {
            a {
                display: block;
                h3 {
                    color: #333;
                    margin: 0 auto;
                    padding: 0;
                    font-size: 1em;
                    text-align: left;
                    width: 130px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.5em;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    height: 3em;
                    font-weight: 400;
                }
                &:hover, &:focus {
                    box-shadow: 0 0px 0px 3px $lightColor inset;
                }
            }
        }
        .more {
            position: absolute;
        }
    }
    .bookimage {
        margin-bottom: 10px;
        height: 188px;
        img {
            max-width: 130px;
            max-height: 188px;
            margin: 0 auto;
            border: 1px solid #ccc;
        }
    }
}
// 標籤雲
.tagcloud_block {
    .tabContent {
        text-align: left;
        padding: 20px;
        border: 1px solid #d2d2d2;
        @include box-sizing;
        @include screen('xs_mobile') {
            height: auto;
            background-color: rgba(255, 255, 255, .7);
            padding: 20px 15px;
            overflow: hidden
        }
        .leftblock_sort {
            width: 200px;
            float: left;
            @include screen('mobile') {
                float: none;
                position: absolute;
                left: -200px;
                transition: .5s;
                .sortlist {
                    opacity: 0;
                    transition: .5s;
                }
                &.open {
                    left: -1px;
                    .sortlist {
                        opacity: 1;
                        transition: .5s;
                    }
                }
            }
        }
        .rightblock_map {
            width: calc(100% - 220px);
            float: right;
            @include screen('mobile') {
                width: 95%;
            }
        }
        .conditional_options {
            display: none;
            @include screen('mobile') {
                display: block;
                position: absolute;
                left: 200px;
                top: 0px;
                background-color: $lightColor;
                border: 1px solid $lightColor;
                color: #333;
                border-left: none;
                padding: 8px 10px;
                line-height: 1.5em;
                border-radius: 0 4px 4px 0;
            }
        }
        // 標籤雲
        .sortlist {
            border: 1px solid #d2d2d2;
            padding: 10px 15px;
            border-radius: 4px;
            overflow: hidden;
            height: 430px;
            overflow-y: auto;
            background-color: #fff;
            @include box-sizing;
            @include screen('mobile') {
                border-radius: 0 0 4px 0;
            }
            .title {
                margin: 8px 0;
                padding: 0px;
                font-size: 1em;
                color: $linkColor;
                border-radius: 20px;
                display: block;
                position: relative;
                font-weight: 600;
                .collapse_btn {
                    position: absolute;
                    width: 30px;
                    height: 25px;
                    border: 1px solid #ccc;
                    display: block;
                    right: 0px;
                    top: 0px;
                    cursor: pointer;
                    &:before {
                        content: '';
                        border: 2px solid #666;
                        width: 10px;
                        height: 10px;
                        border-bottom-color: transparent;
                        border-left-color: transparent;
                        transform: rotate(135deg);
                        position: absolute;
                        top: 0px;
                        left: 8px;
                        transition: .5s;
                    }
                    &.openbtn {
                        &:before {
                            transform: rotate(-45deg);
                            top: 10px;
                            left: 8px;
                        }
                    }
                }
            }
            .sortlistblock {
                &:first-child {
                    .sortlist_options {
                        display: block;
                    }
                }
            }
            .sortlist_options {
                display: none;
                label {
                    display: block;
                    padding: 0 0 0 25px;
                    cursor: pointer;
                    input[type="checkbox"] {
                        margin-right: 8px;
                        margin-left: -25px;
                        margin-top: -4px;
                    }
                    span {
                        color: $color-orange;
                        margin-left: 8px;
                    }
                    ul {
                        margin: 8px 0 15px 20px;
                        padding: 0;
                        li {
                            margin: 0 0 5px 0;
                            list-style-type: circle;
                            a {
                                color: #333;
                            }
                        }
                    }
                }
                ol {
                    margin: 8px 0 15px 20px !important;
                    padding: 0;
                    li {
                        margin: 0 0 5px 0;
                        list-style-type: decimal;
                        a {
                            color: #333;
                            display: block;
                            position: relative;
                            &:hover {
                                background-color: $color-yellow;
                                &:before {
                                    content: '';
                                    background-image: url('../vendor/slick/icon_arrow_down.svg');
                                    background-size: 40px 20px;
                                    position: absolute;
                                    right: 0;
                                    top: 6px;
                                    transform: rotate(-90deg);
                                    width: 40px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
            .more {
                margin: 15px 0 5px;
                a {
                    display: block;
                    padding: 0px 20px 0 25px;
                    text-align: left;
                    position: relative;
                    color: #333;
                    background-color: transparent;
                    &:before {
                        content: '';
                        background-image: url(../images/icon/icon_add.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 10px 10px;
                        background-color: #ccc;
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        left: 0;
                        top: 3px;
                        border-radius: 50%;
                    }
                    &:after {
                        display: none;
                    }
                    &:hover {
                        color: #000;
                        text-decoration: underline;
                    }
                }
            }
        }
        // 
        // 地理諮詢平台
        .information_platform {
            height: 430px;
            overflow: hidden;
        }
        // 右標籤
        .leftblock_tagcloud {
            width: 48%;
            float: left;
            position: relative;
            &:before {
                content: '';
                width: 1px;
                height: 92%;
                background-color: #ccc;
                position: absolute;
                right: -5%;
                top: 0;
                bottom: 0;
            }
            @media(max-width: 680px) {
                float: none;
                width: 100%;
                border-bottom: 1px solid #ccc;
                &:before {
                    display: none;
                    // width: 98%;
                    // height: 1px;
                    // right: 0;
                    // bottom: 0;
                    // top: auto;
                    // left: 0;
                }
            }
        }
        .rightblock_tagcloud {
            width: 48%;
            float: right;
            @media(max-width: 680px) {
                float: none;
                width: 100%
            }
            .tagblock {
                padding: 10px 20px 30px;
                @media(max-width: 680px) {
                    padding: 20px 0 0;
                }
            }
        }
        // 
    }
}
// 標籤雲
.tagblock {
    padding: 10px 0 0;
    .title {
        font-size: 1.25em;
        font-weight: 600;
        margin-bottom: 20px;
        color: $linkColor;
    }
    ul {
        margin: 0;
        padding: 0;
        @media(max-width: 680px) {
            margin: 0 0 20px;
        }
        li {
            list-style-type: none;
            margin: 0 5px 8px 0;
            padding: 0;
            display: block;
            position: relative;
            text-align: left;
            transition: .5s;
            display: inline-block;
            a {
                color: #fff;
                background-color: #a0a0a0;
                padding: 4px 15px;
                border-radius: 4px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.2) !important;
                text-align: center;
                position: relative;
                &:hover {
                    background-color: #666666;
                    box-shadow: none;
                    color: $color-yellow;
                }
                img {
                    vertical-align: middle;
                }
                &.canclose_label {
                    text-align: left;
                    padding: 4px 25px 4px 10px;
                    span.close {
                        background-image: url('../images/icon_close03.png');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 10px 10px;
                        position: absolute;
                        top: 6px;
                        right: 3px;
                        z-index: 1;
                        width: 20px !important;
                        height: 20px !important;
                    }
                }
                &.addtagbtn {
                    text-align: center;
                    background-color: #fff !important;
                    border: 1px solid #ccc;
                    padding: 4px;
                    img {
                        width: 20px;
                    }
                }
            }
        }
    }
    // 增加標籤區塊
    .addtag_block {
        display: none;
        transition: .5s;
        .addtag {
            position: relative;
            float: left;
            z-index: 3;
            margin-right: 2px;
            input[type="text"] {
                width: 210px;
                padding: 5px 8px 4px;
                @include screen('xs_mobile') {
                    width: 170px;
                }
                @media(max-width: 480px) {
                    width: 100%;
                }
            }
            .addoption {
                position: absolute;
                top: 40px;
                left: 0;
                width: 210px;
                border-radius: 5px;
                border: 1px solid #ccc;
                padding: 4px 10px;
                background-color: #fff;
                @include box-sizing;
                display: none;
                @include screen('mobile') {
                    width: 180px;
                    top: auto;
                    bottom: 45px;
                }
                @media(max-width: 480px) {
                    width: 100%;
                }
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                        display: block;
                        margin: 0;
                        a {
                            display: block;
                            padding: 4px;
                            border-bottom: 1px solid #ccc;
                            text-decoration: none;
                            color: #666;
                            background-color: #fff;
                            border-radius: none;
                            box-shadow: none !important;
                            &:hover {
                                color: $aHover;
                            }
                        }
                        &:last-child {
                            a {
                                border: none;
                            }
                        }
                        &:before {
                            content: "";
                        }
                    }
                }
            }
        }
        .closebtn {
            text-align: center;
            background-color: #fff !important;
            border: 1px solid #ccc;
            padding: 5px 8px !important;
            border-radius: 4px !important;
            img {
                width: 12px;
            }
        }
        .addtag+button {
            &.btn-xs {
                font-size: .938em !important;
            }
            &.btn {
                padding: .3em 1em .3em !important;
                margin: -1px .3em 0 .1em !important;
            }
        }
    }
}
// 主題專區詳目頁
.theme_area_pic_block {
    position: relative;
    // margin-bottom: 20px;
    overflow: hidden;
    margin: 0 25px 20px;
    // outline: 1px solid red;
    .enlarge_pic {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 50%;
        top: 20px;
        margin-left: -25px;
        z-index: 9;
        display: none;
        background-color: $linkColor;
        border-radius: 50%;
        pointer-events: none;
        img {
            width: 20px;
            position: absolute;
            top: 15px;
            left: 50%;
            margin-left: -10px;
        }
    }
    // 輪播
    .theme_area_pic_slider {
        position: relative;
        .pic_img {
            position: relative;
            height: 600px;
            @include screen('mobile') {
                height: 400px;
            }
            img {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                max-width: 100%;
                max-height: 100%;
                margin: auto;
            }
        }
        // 箭頭
        .slick-prev {
            top: 8%;
            width: 60px !important;
            height: 60px !important;
            background-image: url('../vendor/slick/icon_arrow_up2_black.png');
            background-size: 52px 30px;
            transform: rotate(-90deg);
            background-color: rgba(255, 255, 255, .4);
            @include screen('tablet') {
                top: 45%;
                left: 0;
            }
            @media(max-width: 400px) {
                top: 10%;
            }
        }
        .slick-next {
            top: 8%;
            width: 60px !important;
            height: 60px !important;
            background-image: url('../vendor/slick/icon_arrow_down2_black.png');
            background-size: 52px 30px;
            transform: rotate(-90deg);
            background-color: rgba(255, 255, 255, .4);
            @include screen('tablet') {
                top: 45%;
            }
            @media(max-width: 400px) {
                top: 10%;
                right: 0;
            }
        }
    }
    // 開關
    .theme_open_btn {
        position: absolute;
        width: 70px;
        height: 70px;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .6);
        transition: 1s;
        z-index: 9;
        @include screen('tablet') {
            display: none;
        }
        a {
            display: block;
            font-size: 0;
            width: 100%;
            height: 100%;
            position: relative;
            &:before {
                content: '';
                border: 18px solid #fff;
                border-color: #fff transparent transparent transparent;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -5px 0 0 -18px;
                transition: 1s;
            }
        }
        &.close_btn {
            // top:-70px;
            a {
                &:before {
                    transform: rotateX(-180deg);
                    top: 21%;
                }
            }
        }
    }
    //手機關閉
    .theme_open_mobilebtn {
        position: relative;
        width: 70px;
        height: 70px;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .6);
        transition: 1s;
        z-index: 9;
        display: none;
        @include screen('tablet') {
            display: inline-block;
            float: right;
            margin-top: 20px;
        }
        a {
            display: block;
            font-size: 0;
            width: 100%;
            height: 100%;
            position: relative;
            &:before {
                content: '';
                border: 18px solid #fff;
                border-color: #fff transparent transparent transparent;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -5px 0 0 -18px;
                transition: 1s;
            }
        }
        &.close_btn {
            // top:-70px;
            a {
                &:before {
                    transform: rotateX(-180deg);
                    top: 21%;
                }
            }
        }
    }
    // 介紹
    .theme_area_introduce {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .7);
        padding: 15px 30px;
        box-sizing: border-box;
        transition: 1s;
        display: block;
        @include screen('tablet') {
            position: relative;
            clear: both;
            float: none;
            bottom: auto;
            display: none;
            transition: 0s;
        }
        &.close_block {
            transform: translateY(100%);
            @include screen('tablet') {
                transform: none;
            }
        }
        .sort {
            background-color: darken($primaryColor, 10);
            color: #fff;
            padding: 0px 25px;
            display: inline-block;
            margin-bottom: 10px;
        }
        .title {
            color: #fff;
            font-size: 1.25em;
            padding: 0px 0 5px;
            border-bottom: 1px solid rgba(255, 255, 255, .5);
            margin-bottom: 10px;
            line-height: 1.4em;
        }
        .introduce_list {
            color: #fff;
            margin-bottom: 20px;
            @media(max-width: 500px) {
                padding: 0 10px;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                line-height: 1.5em;
                font-size: 1.063em;
                li {
                    flex: none;
                    flex-basis: 18%;
                    max-width: 18%;
                    margin: 0 1% 10px;
                    line-height: 1.5em;
                    @include screen('tablet') {
                        flex-basis: 30%;
                        max-width: 30%;
                        margin: 0 1.66% 10px;
                    }
                    @include screen('mobile') {
                        flex-basis: 46%;
                        max-width: 46%;
                        margin: 0 2% 10px;
                    }
                    @media(max-width: 500px) {
                        flex-basis: 100%;
                        max-width: 100%;
                        margin: 0 0 10px;
                    }
                    span {
                        display: block;
                        position: relative;
                        color: #b7b7b7;
                        &:before {
                            content: '';
                            width: 3px;
                            height: 14px;
                            background-color: #b7b7b7;
                            position: absolute;
                            left: -10px;
                            top: 5px;
                        }
                    }
                }
            }
            .content_illustrate {
                line-height: 1.5em;
                margin: 0 1% 0;
                @include screen('tablet') {
                    margin: 0 1.66% 0;
                }
                @include screen('mobile') {
                    margin: 0 2% 0;
                }
                @media(max-width: 500px) {
                    margin: 0 0 10px;
                }
                span {
                    display: block;
                    position: relative;
                    color: #b7b7b7;
                    &:before {
                        content: '';
                        width: 3px;
                        height: 14px;
                        background-color: #b7b7b7;
                        position: absolute;
                        left: -10px;
                        top: 5px;
                    }
                }
            }
        }
        .btn_grp {
            text-align: left;
            padding: 0;
            .btn-green {
                background-color: $secondaryColor;
                &:focus {
                    box-shadow: 0 0px 0px 3px $lightColor inset;
                }
                @media(max-width: 400px) {
                    width: 100%;
                }
            }
        }
    }
}
// 主題內容
.fancybox-button {
    &:hover, &:focus {
        border: none !important;
    }
}
.theme_area_content_block {
    h2 {
        margin: 0 25px 20px;
    }
    // 圖片呈現
    .theme_area_piclist {
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            li {
                flex: none;
                flex-basis: 20%;
                margin: 0 2.5% 30px;
                @include screen('mobile') {
                    flex-basis: 28%;
                    margin: 0 2.66% 30px;
                }
                @media(max-width:500px) {
                    flex-basis: 44%;
                    margin: 0 3% 20px;
                }
                // @media(max-width:370px ){
                //      flex-basis: 100%;
                //     margin: 0 0% 20px;
                // }
                a {
                    display: block;
                    padding: 10px 15px;
                    box-sizing: border-box;
                    .numbering {
                        color: #999;
                        text-align: center;
                        margin-bottom: 8px;
                        line-height: 1.2em;
                    }
                    .pic_img {
                        img {
                            width: 100%;
                        }
                    }
                    .title {
                        color: #000;
                        @include text-line(2, 1.5em);
                    }
                    &:hover {
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
                    }
                }
            }
        }
    }
    // 條列呈現
    .theme_area_numbering {
        margin: 0 25px;
        .numbering_list {
            display: flex;
            margin-bottom: 8px;
            padding: 15px;
            background-color: #ddd;
            box-sizing: border-box;
            border-radius: 5px;
            cursor: pointer;
            position: relative;
            z-index: 1;
            transition: .5s;
            @include screen('mobile') {
                flex-wrap: wrap;
            }
            &:hover {
                background-color: #eee;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            &.active {
                .numbering_content {
                    .content {
                        p {
                            text-overflow: inherit;
                            white-space: normal;
                        }
                    }
                }
            }
            .numbering_leftblock {
                flex: none;
                flex-basis: 12%;
                max-width: 12%;
                @include screen('mobile') {
                    flex-basis: 30%;
                    max-width: 30%;
                    margin-bottom: 10px;
                }
                @media(max-width: 500px) {
                    flex-basis: 50%;
                    max-width: 50%;
                }
                .numbering {
                    padding: 0;
                    position: relative;
                    z-index: 9;
                    a {
                        padding: 10px;
                        display: block;
                        color: #fff;
                        transition: .5s;
                        border-radius: 5px;
                        box-shadow: 0 0 0 1px #057fc1 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #056091, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
                        background-color: #057fc1;
                        position: relative;
                        top: -6px;
                        border: 0;
                        transition: all 40ms linear;
                        margin-top: 10px;
                        margin-bottom: 0px;
                        margin-left: 2px;
                        margin-right: 2px;
                        color: #fff;
                        text-align: center;
                        box-sizing: border-box;
                        &:active {
                            top: 2px;
                            -moz-outline-style: none;
                            outline: medium none;
                            box-shadow: 0 0 0 1px #0175b4 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
                            background-color: #0175b4;
                        }
                    }
                }
                .hint {
                    background-color: $color-red;
                    color: #fff;
                    padding: 10px;
                    border-radius: 5px;
                    line-height: 1.5em;
                    position: absolute;
                    margin: 10px 0 0 0;
                    top: 10px;
                    left: 14%;
                    z-index: 10;
                    font-size: 0.938em;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    display: none;
                    width: 100px;
                    box-sizing: border-box;
                    @include screen('mobile') {
                        display: none;
                    }
                }
            }
            .numbering_content {
                flex: auto;
                flex-basis: 60%;
                max-width: 60%;
                @include screen('mobile') {
                    flex-basis: 100%;
                    max-width: 100%;
                    border-bottom: 1px solid #bbb;
                    margin-bottom: 10px;
                }
                .content {
                    padding: 0 20px;
                    box-sizing: border-box;
                    line-height: 1.6em;
                    @include screen('mobile') {
                        padding: 0;
                    }
                    .serial {
                        color: $color-red;
                    }
                    .title {
                        color: $linkColor;
                        font-weight: bolder;
                    }
                    p {
                        margin-bottom: 10px;
                        line-height: 1.5em;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        transition: 1s;
                    }
                }
            }
            .numbering_rightblock {
                flex: none;
                flex-basis: 30%;
                max-width: 30%;
                @include screen('mobile') {
                    flex-basis: 100%;
                    max-width: 100%;
                }
                ul {
                    margin: 20px 0 0 0;
                    padding: 0;
                    list-style-type: none;
                    line-height: 1.7em;
                    li {
                        &.date {
                            background-image: url('../images/numbering_icon01.png');
                            background-repeat: no-repeat;
                            background-position: left center;
                            padding: 0 0 0 25px;
                        }
                        &.photographer {
                            background-image: url('../images/numbering_icon02.png');
                            background-repeat: no-repeat;
                            background-position: left 3px;
                            padding: 0 0 0 28px;
                        }
                    }
                }
            }
        }
    }
}
// 切換樣式
.theme_toggle_style {
    margin: 0 25px 10px;
    ul {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            margin-left: 15px;
            a {
                display: block;
                width: 24px;
                height: 24px;
                font-size: 0;
                &.theme_list_pic {
                    background-image: url('../images/theme_list_pic.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    &.active {
                        background-image: url('../images/theme_list_pic_hover.png');
                    }
                }
                &.theme_list_numbering {
                    background-image: url('../images/theme_list_numbering.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    &.active {
                        background-image: url('../images/theme_list_numbering_hover.png');
                    }
                }
                &:hover {
                    &.theme_list_pic {
                        background-image: url('../images/theme_list_pic_hover.png');
                    }
                    &.theme_list_numbering {
                        background-image: url('../images/theme_list_numbering_hover.png');
                    }
                }
            }
        }
    }
}