// 分館別 
.annex_block {
    width: 40%;
    border-radius: 4px;
    margin: 0 auto 30px;
    text-align: center;
    background-color: $primaryColor;
    border: 1px solid #ccc;
    padding: 8px;
    color: #fff;
    font-size: 1.125em;
    transition: .5s;
    @include screen('tablet') {
        width: 60%;
    }
    @include screen('mobile') {
        width: 80%;
    }
    @include screen('xs_mobile') {
        width: 100%;
    }
    label {
        margin: 10px 0 .5em 0;
        display: inline-block;
    }
    .annex {
        display: inline-block;
        select {
            width: 200px;
        }
    }
}
// 水利地理諮詢平台
.information_platform {
    // margin-bottom: 30px;
    iframe {
        width: 100%;
        height: 500px;
    }
}
.connection_data {
    padding: 10px 0 20px;
    border-bottom: 1px solid #ccc;
    h3 {
        font-size: 1.125em;
        font-weight: 500;
        padding-left: 20px;
        position: relative;
        color: #333;
        &:before {
            content: '';
            width: 5px;
            height: 25px;
            background-color: lighten($primaryColor, 20);
            position: absolute;
            left: 0;
            top: 0px;
        }
    }
    ul {
        li {
            color: #666;
            margin-bottom: 8px;
        }
    }
}
// 資料數量
.data_quantity {
    display: block;
    overflow: hidden;
    text-align: right;
    margin: 10px 0;
    padding: 0;
    span {
        display: inline-block;
        margin-right: 8px;
        em {
            color: $color-orange;
            padding: 0 3px;
            font-style: normal;
            font-weight: 600;
        }
    }
    select {
        display: inline-block;
        width: auto;
    }
}
// 條列文件
.list_file_block {
    clear: both;
    margin-bottom: 50px;
    .list_file {
        display: block;
        padding: 0px 0 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #ccc;
        position: relative;
        &:first-child {
            .bibliography_block2 {
                .bibliography {
                    display: block;
                }
            }
        }
    }
    // 文件編號
    .datatop {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
        font-size: .938em;
        @include screen('mobile') {
            flex-wrap: wrap;
        }
        @media(max-width: 380px) {
            display: block;
        }
        .data_sort {
            padding: 3px 10px;
            background-color: #333;
            color: #fff;
            margin: 0 10px 0 0;
            flex: none;
            display: inline-block;
            border-radius: 4px;
            @media(max-width: 380px) {
                margin: 0 0 10px;
                display: inline-block;
            }
        }
        .GPNEBN_num {
            flex: none;
            @media(max-width: 380px) {
                display: block;
            }
        }
        .project_num {
            text-align: right;
            flex: auto;
            @include screen('mobile') {
                display: block;
                width: 100%;
                text-align: left;
                margin-top: 10px;
                padding: 5px 10px;
                background-color: #eee;
                border-radius: 4px;
            }
        }
    }
    // 書名連結
    .booklink {
        margin-bottom: 10px;
        @include screen('mobile') {
            margin-bottom: 20px;
        }
        a {
            display: block;
            font-size: 1.25em;
            line-height: 1.5em;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    // 作者出處
    .databottom {
        // display: flex;
        // flex-wrap: wrap;
        margin-bottom: 10px;
        font-size: .938em;
        >div {
            display: inline-block;
            position: relative;
            @include screen('mobile') {
                margin-bottom: 10px;
                display: block;
            }
            &:before {
                content: '';
                width: 1px;
                height: 15px;
                background-color: #ccc;
                position: absolute;
                right: 0px;
                top: 5px;
            }
            &:last-child {
                &:before {
                    display: none;
                    @include screen('mobile') {
                        display: block;
                    }
                }
            }
        }
        .author {
            padding: 0 15px 0 0;
        }
        .publishing {
            padding: 0 15px;
        }
        .publication_years {
            padding: 0 15px;
        }
        @include screen('mobile') {
            .author, .publishing, .publication_years {
                float: auto;
                width: 100%;
                padding-left: 15px;
                position: relative;
                &:before {
                    content: '';
                    width: 8px;
                    height: 8px;
                    background-color: #666;
                    border-radius: 50%;
                    position: absolute;
                    left: 0px;
                    right: auto;
                    top: 7px;
                    display: block;
                }
            }
        }
    }
    // 書目table
    .bibliography_block, .bibliography_block2 {
        margin: 0;
        padding: 39px 0 0 0;
        position: relative;
    }
    .bibliography_block2 {
        .bibliography {
            display: none;
        }
    }
    .collapse_btn {
        position: absolute;
        width: 50px;
        height: 40px;
        border: 1px solid #ccc;
        display: block;
        right: 0px;
        top: 0px;
        cursor: pointer;
        &:before {
            content: '';
            border: 1px solid #666;
            width: 16px;
            height: 16px;
            border-bottom-color: transparent;
            border-left-color: transparent;
            transform: rotate(-45deg);
            position: absolute;
            top: 15px;
            left: 15px;
            transition: .5s;
        }
        &.closebtn {
            &:before {
                transform: rotate(135deg);
                top: 5px;
                left: 15px;
            }
        }
    }
    // 按鈕區
    .btn_block {
        margin-bottom: 5px;
        input[type="button"] {
            background-color: $secondaryColor;
            border: 1px solid $secondaryColor;
            transition: .5s !important;
            &:hover {
                border: 1px solid darken($secondaryColor, 5) !important;
                background-color: darken($secondaryColor, 5);
            }
        }
    }
    //標籤雲
    .tagblock {
        line-height: 2em;
        .book_collect {
            float: left;
            margin-right: 10px;
            img {
                width: 30px;
            }
        }
    }
    // 相關資料
    .related_data {
        width: 50%;
        // background-color:#eee;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 20px;
        margin: 10px 0 0;
        @include box-sizing(border-box);
        @include screen('mobile') {
            width: 100%;
        }
        ul {
            margin: 0 0 0 20px;
            padding: 0;
            li {
                margin-bottom: 5px;
                em {
                    font-style: normal;
                    padding: 0 5px;
                    color: $color-orange;
                }
            }
        }
    }
    // 按鈕靠右
    .btn_right {
        text-align: right;
        margin: 0;
        padding: 0;
    }
}
// 刪除收藏
.del_collect_btn {
    position: absolute;
    right: 0;
    bottom: 30px;
    @include screen('mobile') {
        position: relative;
        text-align: right;
        right: auto;
        bottom: auto;
    }
}
// 書目表格
.bibliography {
    border: 1px solid #ccc;
    padding: 10px 0;
    margin: 0;
    clear: both;
    float: none;
    // display: none;
    table {
        border: none;
        th {
            border: none;
            border-bottom: 1px solid #ccc;
            background-color: transparent;
        }
        td {
            border: none;
            border-bottom: 1px solid #ccc;
            max-width: 100px;
            @include text-overflow;
            br{
                @include screen('mobile'){
                    display: none;
                }
            }

        }
        tr:last-child {
            td {
                border: none;
            }
        }
    }
    @include screen('mobile') {
        padding: 0;
        border: none;
        tr {
            border: 1px solid #ccc;
            margin-bottom: 20px; // background-color: #333;
        }
        td {
            border-bottom: 1px solid #e5e5e5 !important;
            max-width: 100%!important;
            &:last-child {
                border: none !important;
            }
        }
    }
}
// 表格中的按鈕
// btnstyle
.stylebtn {
    display: inline-block;
    padding: 0.5em ;
    color: #fff;
    background-color: #999;
    border-radius: 4px;
    @include text-overflow;

}
// 借閱中btn
.borrowing_btn {
    background-color: #f29d39;
}
// 逾期btn
.overdue_btn {
    background-color: $color-red;
}
// 預借btn
.advance_btn {
    background-color: $color-purple;
}
// 預約btn
.reservation_btn {
    background-color: #963;
}
// 順位btn
.rank_btn {
    background-color: #c09;
}
// 在館btn
.inlibrary_btn {
    background-color: darken($color-green, 10);
}
// 說明書單
.explanation {
    background-color: #e5e5e5;
    padding: 30px 40px;
    border-radius: 4px;
    margin-bottom: 30px;
    h3 {
        margin: 0 0 20px;
        padding: 0;
    }
    ol {
        margin: 0px 0 0 20px;
        padding: 0;
        li {
            margin-bottom: 8px;
        }
    }
}
// 條件選擇
.conditional_choice {
    margin-bottom: 20px;
    input, select {
        width: auto;
        vertical-align: middle;
        margin: 0;
    }
    input[type="button"] {
        padding: 0.4em 1.5em;
    }
}
// 水利故事
.special_pic {
    margin: 20px 0 50px;
    .img-container {
        @include aspect-ratio(16, 9);
        height: auto;
    }
    span.playbtn {
        background-color: rgba(0, 0, 0, .6);
        width: 70px;
        height: 70px;
        border-radius: 50%;
        // margin-top: calc(50% - 30px);
        // margin-left: calc(50% - 30px);
        display: block;
        position: absolute;
        transition: .5s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        &:before {
            content: '';
            border: 15px solid #fff;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            position: absolute;
            top: calc(50% - 14px);
            left: calc(50% - 6px);
        }
    }
}
// 圖文影片list
.special, .special_video {
    margin-bottom: 2em;
    // float 排版
    @include clearfix;
    position: relative;
    .box {
        display: block;
        float: left;
        width: 33.333%;
        height: 300px;
        // ------------------------------- test start
        // width: calc(100% / 3);
        // height: calc(100% / 3 * 3 / 4);
        // ------------------------------- test end
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
        background: #000;
        position: relative;
        overflow: hidden;
        // 色塊
        &:before {
            content: '';
            position: absolute;
            top: -60px;
            z-index: 1;
            width: 100%;
            height: 0;
            background: rgba(102, 189, 0, .9);
            // 上右下左
            // clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transform: skew(0, 0);
            transition: height .6s ease,
                transform .6s ease;
        }
        a {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            span.cube {
                display: inline-block;
                width: 42px;
                height: 42px;
                background: rgba(102, 189, 0, 0.9);
                position: relative;
                font-size: 0;
                left: 42px;
                transition: .5s;
                // transition: background .4s ease;
                &:before, &:after {
                    content: "";
                    display: block;
                    background: #fff;
                    position: absolute;
                }
                &:before {
                    width: 22px;
                    height: 2px;
                    left: calc(50% - 11px);
                    top: calc(50% - 1px);
                }
                &:after {
                    width: 2px;
                    height: 22px;
                    left: calc(50% - 1px);
                    top: calc(50% - 11px);
                }
            }
            span.counter, span.play {
                display: block;
                margin-left: 2.8em;
                color: #fff;
            }
            span.counter {
                padding-left: 1.75em;
                background: url(../images/icon/icon_view_white.svg) left 50% no-repeat;
                background-size: contain;
                display: none;
            }
            span.play {
                // box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
                background: rgba(0, 0, 0, .6);
                border-radius: 4px;
                margin-top: 1.25em;
                padding: .5em 2em;
                width: 150px;
                opacity: 0;
                transition: opacity .4s ease-in-out .4s;
                display: none;
                &:after {
                    content: '';
                    background: url(../images/icon/icon_arrow_right_white.svg) left 0 top 50% no-repeat;
                    background-size: contain;
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    vertical-align: middle;
                    margin-left: .5em;
                }
            }
            span.playbtn {
                background-color: rgba(0, 0, 0, .6);
                width: 60px;
                height: 60px;
                border-radius: 50%;
                // margin-top: calc(50% - 30px);
                // margin-left: calc(50% - 30px);
                display: block;
                position: absolute;
                transition: .5s;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                &:before {
                    content: '';
                    border: 12px solid #fff;
                    border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    position: absolute;
                    top: calc(50% - 12px);
                    left: calc(50% - 6px);
                }
            }
            h3 {
                padding: 1em 2em 0;
                margin: 1.25em 0 .75em;
                font-size: 1.35em;
                line-height: 1.4;
                color: #fff;
                text-shadow: 0 0 2px rgba(58, 103, 6, 0.9);
                transition: .5s;
                &:before {
                    content: "";
                    display: block;
                    width: 30px;
                    height: 3px;
                    background: #fff;
                    margin-bottom: 1em;
                    position: absolute;
                    left: 2em;
                    top: 1.7em;
                    transition: height .4s ease width .2s ease .4s;
                    // transition: width .2s ease .4s;
                }
            }
            &:hover, &:focus {
                transition: .5s;
                span.cube {
                    background: #fff;
                    left: 65px;
                    &:before, &:after {
                        background: rgba(102, 189, 0, .9);
                    }
                }
                span.play {
                    opacity: 1;
                }
                span.playbtn {
                    opacity: 1;
                }
                h3 {
                    padding: 1em 2em 0 3em;
                    &:before {
                        content: "";
                        width: 3px;
                        height: 50%;
                        transition: width .2s ease,
                            height .4s ease .4s;
                        // transition: width .2s ease;
                    }
                }
            }
        }
        .img-container {
            background: none;
            height: 100%;
            // @include aspect-ratio(4, 3);
            img {
                opacity: .6;
            }
        }
        &:nth-child(1) {
            height: 600px;
            // .img-container{
            //     @include aspect-ratio(1, 1);
            // }
        }
        &:nth-child(2) {}
        &:nth-child(3) {}
        &:nth-child(4) {}
        &:nth-child(5) {
            width: 66.666%;
            // ------------------------------- test start
            // width: calc(100% / 3);
            // height: calc(100% / 3 * 3 / 4);
            // ------------------------------- test end
            // 色塊
            &:before {
                top: -120px;
            }
        }
        &:nth-child(6) {
            height: 600px;
            // ------------------------------- test start
            // width: calc(100% / 3);
            // height: calc(100% / 3 * 3 / 4 * 2);
            // ------------------------------- test end
            position: absolute;
            bottom: 0;
            left: 66.666%;
            // .img-container{
            //     @include aspect-ratio(1, 1.8);
            // }
        }
        // hover
        &:hover, &:focus {
            .img-container {
                img {
                    opacity: 1;
                }
            }
            // 色塊
            &:before {
                // 上右下左
                // clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
                height: 76%;
                transform: skew(0, -15deg);
            }
            a {}
        }
    }
}
.special_video {
    .box {}
}
@include screen('tablet') {
    .special, .special_video {
        .box {
            height: 200px;
            &:nth-child(1) {
                height: 400px;
            }
            &:nth-child(2) {}
            &:nth-child(3) {}
            &:nth-child(4) {
                width: 66.666%;
            }
            &:nth-child(5) {}
            &:nth-child(6) {
                height: 200px;
            }
            &:nth-child(4), &:nth-child(5) {
                // 色塊
                &:before {
                    top: -90px;
                }
            }
        }
    }
    .special {
        .box {
            a {
                span.cube {
                    float: right;
                    left: 2em;
                    top: 1.7em;
                }
                h3 {
                    width: calc(100% - 42px);
                    padding: 1em 2em 0;
                    float: left;
                    margin: 1.25em 0 .75em;
                }
                &:hover, &:focus {
                    span.cube {}
                    h3 {
                        &:before {
                            width: 30px;
                            height: 3px;
                        }
                    }
                    // 色塊
                    &:before {
                        height: 80%;
                    }
                }
            }
        }
    }
    .special_video {
        .box {
            a {
                span.counter {}
                span.play {
                    opacity: 1;
                    font-size: 0;
                    width: 42px;
                    height: 42px;
                    border-radius: 0;
                    background: rgba(102, 189, 0, .9);
                    transition: background .4s ease;
                    position: absolute;
                    right: 1px;
                    top: 76px;
                    &:after {
                        width: 42px;
                        height: 42px;
                        background: url(../images/icon/icon-play-whtie.svg) 50% 50% no-repeat;
                    }
                }
                span.playbtn {
                    right: 30px;
                    left: auto;
                    bottom: 30px;
                    top: auto;
                }
                h3 {
                    padding: 1em 3.2em 0 2em;
                }
                &:hover, &:focus {
                    span.play {
                        background: #fff;
                        &:after {
                            background: url(../images/icon/icon-play-green.svg) 50% 50% no-repeat;
                        }
                    }
                    h3 {
                        &:before {
                            width: 30px;
                            height: 3px;
                        }
                    }
                }
            }
        }
    }
}
@include screen('mobile') {
    .special, .special_video {
        .box {
            width: 100% !important;
            height: 200px !important;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                // 色塊
                &:before {
                    top: -90px;
                }
            }
            &:nth-child(6) {
                position: sticky;
                height: 200px;
            }
        }
    }
}
//我的書房
.manual {
    display: inline-block;
    float: right;
    margin: 15px 0;
    a {
        display: block;
        background-color: $secondaryColor;
        color: #fff;
        padding: 5px 20px 5px 50px;
        border-radius: 4px;
        background-image: url('../images/manual_icon.svg');
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: 20px 8px;
        &:hover {
            background-color: darken($secondaryColor, 10);
        }
    }
}
// 借閱紀錄
.bookrecord_block {
    clear: both;
    float: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 50px;
    @include screen('mobile') {
        display: block;
    }
    .borrow_record {
        flex: 0 0 43%;
        @include screen('mobile') {
            width: 100%;
            overflow: hidden;
            margin-bottom: 20px;
        }
    }
    .reservation_record {
        flex: 0 0 55%;
        @include screen('mobile') {
            width: 100%;
            overflow: hidden;
        }
    }
    a {
        display: block;
        background-color: #eee;
        border-radius: 4px;
        padding: 20px 20px 30px 0;
        h3 {
            color: #333;
        }
        &:focus {
            box-shadow: 0 0px 0px 3px $lightColor;
        }
    }
    h3 {
        font-size: 1.375em;
        position: relative;
        padding: 0 0 0 40px;
        margin: 10px 0 20px;
        &:before {
            content: '';
            width: 22px;
            height: 22px;
            background-color: $primaryColor;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    .data {
        text-align: center;
        color: #666;
        display: flex;
        margin: 0 20px 0 35px;
        @include screen('tablet') {
            flex-wrap: wrap;
        }
        div {
            vertical-align: top;
            margin: 0 5px 15px;
            padding: 30px 20px 20px;
            position: relative;
            line-height: 1.8em;
            font-size: 1.125em;
            background-color: #fff;
            border-radius: 10px;
            text-align: center;
            flex: auto;
            @include box-sizing;
            // @include screen('tablet'){
            //     flex:0 0 45%;
            // }
            @media(max-width: 480px) {
                display: block;
                margin-bottom: 30px
            }
            em {
                font-style: normal;
                display: inline-block;
            }
            em.number {
                font-size: 3.7em;
                margin: 0 10px 25px;
                font-style: normal;
                font-weight: 700;
                display: inlinblock;
            }
            span {
                display: block;
                padding: 2px 10px;
                background-color: #ddd;
            }
        }
    }
}
// 歷史紀錄
.historical_record {
    text-align: center;
    margin-bottom: 50px;
    ul {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0 10px;
            padding: 15px;
            a {
                display: block;
                background-color: $primaryColor;
                color: #fff;
                width: 190px;
                height: 190px;
                position: relative;
                border-radius: 50%;
                text-align: center;
                font-size: 1.25em;
                padding: 20px;
                transition: .5s;
                img {
                    width: 80px;
                    margin: 10px auto;
                    display: block;
                    margin-bottom: 15px;
                }
                &:hover {
                    transform: scale(1.1);
                    background-color: darken($primaryColor, 10);
                }
            }
            @include screen('notebook') {
                margin: 0px;
            }
            @include screen('tablet') {
                margin: 0px;
                a {
                    width: 180px;
                    height: 180px;
                    font-size: 1.125em;
                }
            }
        }
    }
}
// 我的書房
.mystudy_block {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    @include screen('mobile') {
        flex-wrap: wrap;
    }
    div {
        flex: 0 0 23%;
        border: 1px solid #b5b5b5;
        padding: 0px;
        border-radius: 4px;
        height: 300px;
        @include screen('tablet') {
            height: 330px;
        }
        @include screen('mobile') {
            flex: 0 0 48%;
            margin-bottom: 20px;
            height: 300px;
        }
        @media(max-width: 500px) {
            height: 330px;
        }
        @media(max-width: 400px) {
            flex: 0 0 100%;
            height: 300px;
        }
        a {
            display: block;
            text-align: center;
            width: 100%;
            height: 100%;
            color: #333;
            padding: 20px;
            @include box-sizing;
            img {
                width: 100px;
                margin-bottom: 5px;
                transition: .5s;
            }
            h3 {
                margin: 0 0 10px;
                padding: 10px;
                border-bottom: 1px solid #ccc;
            }
            p {
                color: #666;
            }
            &:hover {
                img {
                    width: 115px;
                }
            }
        }
        &:first-child {
            a {
                &:hover {
                    color: $primaryColor;
                }
            }
        }
        &:nth-child(2) {
            a {
                &:hover {
                    color: darken($secondaryColor, 10);
                }
            }
        }
        &:nth-child(3) {
            a {
                &:hover {
                    color: darken($lightColor, 10);
                }
            }
        }
        &:nth-child(4) {
            a {
                &:hover {
                    color: $color-red;
                }
            }
        }
    }
}
// 標籤結果
.tag_result {
    margin-bottom: 40px;
    font-size: 1.25em;
    position: relative;
    padding-left: 20px;
    &:before {
        content: '';
        border: 10px solid #000;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        position: absolute;
        left: 0;
        top: 1px;
    }
    span {
        padding: 5px 15px;
        border: 1px solid #666;
        border-radius: 4px;
        font-size: 0.813em;
    }
}
// 電子書服務
.eBook_service_block {
    .form_grid {
        display: flex;
        flex-wrap: wrap;
        .form_grp {
            flex: 0 0 100%;
            border-bottom: none;
            &.form_grp_inline {
                flex: 0 0 50%;
                @include screen('xs_mobile') {
                    flex: 0 0 100%;
                }
            }
            .form_title {
                display: block;
                float: none;
                width: 100%;
                font-weight: bolder;
                @include screen('xs_mobile') {
                    padding-right: 0;
                    padding-left: 0;
                }
            }
            .form_content {
                float: none;
                width: 100%;
                @include screen('xs_mobile') {
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
        .btn_grp {
            text-align: center;
            flex: 0 0 100%;
            padding: .5em 0;
            &.lean_right {
                text-align: right;
                flex: 0 0 50%;
            }
            &.lean_left {
                text-align: left;
                flex: 0 0 50%;
            }
            @include screen('xs_mobile') {
                &.lean_right, &.lean_left {
                    flex: 0 0 100%;
                }
            }
        }
        .remind {
            flex: 0 0 100%;
            padding: 5px 15px;
            background-color: lighten($lightColor, 45);
        }
    }
}
// 沒有相關資料
.no_data {
    text-align: center;
    width: 80%;
    margin: 50px auto 0;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebecf3;
    @include gradient(#fff, #ebecf3, diagonal);
    box-shadow: 1px 1px 8px #c9c9c9;
    @include screen('mobile') {
        display: block;
    }
    @include screen('xs_mobile') {
        width: 100%;
    }
    img {
        width: 40%;
        margin-right: 30px;
        @include screen('mobile') {
            width: 60%;
            margin: 0;
        }
        @include screen('xs_mobile') {
            width: 80%;
        }
        @media(max-width: 400px) {
            width: 100%;
        }
    }
    p {
        font-size: 1.375em;
        color: #333;
        font-weight: 500;
        @include screen('xs_mobile') {
            font-size: 1.25em;
        }
    }
}